body{
	background: linear-gradient(rebeccapurple,skyblue);
}
nav{
	display: flex;
	padding: 15px 10px;
	align-items: center;
	justify-content: center;

}

nav a{
	padding: 10px 15px;
	text-decoration: none;
	color: white;
	border-radius: 10px;
}

nav a:hover, nav a.active{
	background: white;
	color: rebeccapurple;
}

#name{
	display: flex;
	justify-items: center;
	text-align: center;
	font-size: 50px;
	position: relative;
}
#name section {
  position: absolute;
  color: #fff;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#name p {
  position: absolute;
  color: #fff;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  top: calc(10%); /* Adjust the value (50px) to control the vertical distance */
  left: 50%;
  transform: translateX(-50%);
}


